head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' )
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js') 
  title PRODUCTS LIST
.col-md-12
  .card-body
    .card-header
      .card-title.breadcrumb PRODUCTS LIST
    table.table.table-bordered
      thead.thead-light
        tr
            th Surname
            th Payment Mode
            th Delivery Mode
            th Produce Type
            th Directions
            th Products Availability
            th Products Image
            th UserID No
            th
      tbody
      if users.length
          each user in users
            tr
              td #{user.surname}
              td #{user.givenname}
              td #{user.dateofbirth}
              td #{user.placeofresidence}
              td #{user.occupation}
              td #{user.nationality} 
              td #{user.gender}
              td #{user.category} 
              td
              td
